<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include('./common/meta.ejs') %>
    <title>ejs 연습</title>
    <style>
      #container {
        width: 100vw;
        display: flex;
        overflow-y: hidden;
      }

      #nav {
        position: fixed;
      }

      #main {
        width: 100%;
        padding-left: 200px;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="nav"><%-include('./ui/sideNav.ejs')%></div>

      <div id="main">
        <%-include('./ui/header.ejs')%> <%-include('./ui/customerTable.ejs')%>
      </div>
    </div>
  </body>
</html>
