<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #sideNav {
        width: 200px;
        height: 100vh;
        background-color: #212529;
        padding-top: 60px;
      }

      p {
        color: #fff;
        padding: 8px 16px;
      }

      #inputWrap {
        padding: 0 10px;
      }

      input {
        margin-bottom: 5px;
      }

      #addBtn {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <ul id="sideNav" class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
      <li class="nav-item">
        <p>고객 추가</p>
      </li>

      <li>
        <div id="inputWrap" class="mb-3">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="이름"
            onchange="onchangeName()"
          />
          <input
            type="text"
            class="form-control"
            id="birthday"
            placeholder="생년월일"
            onchange="onchangeBirthday()"
          />
          <input
            type="text"
            class="form-control"
            id="gender"
            placeholder="성별"
            onchange="onchangeGender()"
          />
          <input
            type="text"
            class="form-control"
            id="job"
            placeholder="직업"
            onchange="onchangeJob()"
          />
          <button
            onclick="handleUserAdd()"
            id="addBtn"
            type="button"
            class="btn btn-warning"
          >
            고객추가
          </button>
        </div>
      </li>
    </ul>

    <script>
      let nameValue;
      let birthValue;
      let genderValue;
      let jobValue;

      function onchangeName() {
        nameValue = $('#name').val();
      }

      function onchangeBirthday() {
        birthValue = $('#birthday').val();
      }

      function onchangeGender() {
        genderValue = $('#gender').val();
      }

      function onchangeJob() {
        jobValue = $('#job').val();
      }

      function handleUserAdd() {
        const val = {
          name: nameValue,
          birthday: birthValue,
          gender: genderValue,
          job: jobValue,
        };

        $.ajax({
          type: 'POST',
          url: 'http://localhost:5000/user/list',
          data: val,
          success: function (data) {
            console.log(data);
            window.location.reload();
          },
          error: function (err) {
            console.log(err);
          },
        });
      }
    </script>
  </body>
</html>
