<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(226, 226, 226);
      }

      form {
        width: 20vw;
        height: auto;
      }

      input {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <!-- <h1>회원가입</h1> -->
      <div id="inputWrap" class="mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="이름"
          onchange="onchangeName()"
        />
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="이메일"
          onchange="onchangeEmail()"
        />
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="비밀번호"
          onchange="onchangePassword()"
        />
        <input
          type="password"
          class="form-control"
          id="passwordCheck"
          placeholder="비밀번호 확인"
          onchange="onchangePasswordCheck()"
        />
        <button
          onclick="handleSignUp()"
          id="addBtn"
          type="button"
          class="btn btn-warning"
        >
          회원가입
        </button>
      </div>
    </main>

    <script>
      let nameValue;
      let emailValue;
      let passwordValue;
      let passwordCheckValue;

      function onchangeName() {
        nameValue = $('#name').val();
      }

      function onchangeEmail() {
        emailValue = $('#email').val();
      }

      function onchangePassword() {
        passwordValue = $('#password').val();
      }

      function onchangePasswordCheck() {
        passwordCheckValue = $('#passwordCheck').val();
      }

      function handleSignUp() {
        const val = {
          name: nameValue,
          email: emailValue,
          password: passwordValue,
          passwordCheck: passwordCheckValue,
        };

        $.ajax({
          type: 'POST',
          url: `http://localhost:5000/signup`,
          data: val,
          success: function (data) {
            console.log(data);
            window.location.reload();
          },
          error: function (err) {
            console.log(err);
            alert(err.responseJSON.message[0]);
          },
        });
      }
    </script>
  </body>
</html>
