<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ('../common/meta.ejs') %>
    <title>Login</title>
  </head>
  <style>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-color: rgb(226, 226, 226);
    }

    form {
      width: 20vw;
      height: auto;
    }

    input {
      margin-bottom: 5px;
    }
  </style>
  <body>
    <main class="form-login">
      <div id="inputWrap" class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="이메일"
          onchange="onchangeEmail()"
        />
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="비밀번호"
          onchange="onchangePassword()"
        />
        <button
          onclick="handleSignUp()"
          id="addBtn"
          type="button"
          class="btn btn-warning"
        >
          로그인
        </button>
      </div>
    </main>
    <script>
      let emailValue;
      let passwordValue;

      function onchangeEmail() {
        emailValue = $('#email').val();
      }

      function onchangePassword() {
        passwordValue = $('#password').val();
      }

      function handleSignUp() {
        const val = {
          email: emailValue,
          password: passwordValue,
        };

        // console.log(2222);
        // console.log(val.email);
        // console.log(val.password);

        $.ajax({
          type: 'POST',
          url: `http://localhost:5000/signup`,
          data: val,
          success: function (data) {
            console.log(data);
            alert('로그인 구현');
            // window.location.reload();
          },
          error: function (err) {
            if (err.responseJSON.statusCode === 400) {
              alert(err.responseJSON.message[0]);
            }
          },
        });
      }
    </script>
  </body>
</html>
