<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ('../common/meta.ejs') %>
    <title>Signup</title>
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(226, 226, 226);
      }

      form {
        width: 20vw;
        height: auto;
      }

      input {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <!-- <h1>회원가입</h1> -->
      <div id="inputWrap" class="mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="이름"
          onchange="onchangeName()"
        />
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="이메일"
          onchange="onchangeEmail()"
        />
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="비밀번호"
          onchange="onchangePassword()"
        />
        <input
          type="password"
          class="form-control"
          id="passwordCheck"
          placeholder="비밀번호 확인"
          onchange="onchangePasswordCheck()"
        />
        <button
          onclick="handleSignUp()"
          id="addBtn"
          type="button"
          class="btn btn-warning"
        >
          회원가입
        </button>
      </div>
    </main>

    <script>
      let nameValue;
      let emailValue;
      let passwordValue;
      let passwordCheckValue;

      function onchangeName() {
        nameValue = $('#name').val();
      }

      function onchangeEmail() {
        emailValue = $('#email').val();
      }

      function onchangePassword() {
        passwordValue = $('#password').val();
      }

      function onchangePasswordCheck() {
        passwordCheckValue = $('#passwordCheck').val();
      }

      function handleSignUp() {
        const val = {
          name: nameValue,
          email: emailValue,
          password: passwordValue,
          passwordCheck: passwordCheckValue,
        };

        $.ajax({
          type: 'POST',
          url: `http://localhost:5000/signup`,
          data: val,
          success: function (data) {
            console.log(data);
            alert('회원가입 완료!');
            window.location.reload();
          },
          error: function (err) {
            if (err.responseJSON.statusCode === 400) {
              alert(err.responseJSON.message[0]);
              // if (
              //   err.responseJSON.message[0] ==
              //   'name must be longer than or equal to 2 characters'
              // ) {
              //   alert('이름은 2글자 이상 8글자 이하여야 합니다.');
              // } else if (
              //   err.responseJSON.message[0] == 'email must be an email'
              // ) {
              //   alert('이메일 형식에 맞는 이메일을 입력해주세요.');
              // } else alert(err.responseJSON.message[0]);
            }
          },
        });
      }
    </script>
  </body>
</html>
